* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  overflow: hidden;
}

.title {
  margin-bottom: 20px;
  padding: 20px
}

.img {
  height: 260px !important;
  width: 260px !important;
  max-width: 100% !important;
}

.row-form {
  display: flex;
  gap: 4px;
}

.row-form2 {
  display: flex;
  flex-direction: column;
}

.name-form {
  width: 299.5px !important;
}

.email-form {
  width: 299.5px !important;
}

.form-btn {
  width: 599px;
  height: 48px;
  background: #9CC236 !important;
}



.message-input {
  height: 144px;
  background: none !important;
  width: 599px;
}

.modal-90w {
  max-width: none !important;
  /* height: 40vh !important; */
}

.modalbodylist {
  display: flex;
  gap: 12px;
  list-style: none;
}

.modallist::after {
  content: '|' !important;
  margin: 5px;

}

.modallist-title {
  width: 347px;
  height: 48px;
}

.modal--title {
  font-weight: 700;
  font-family: poppins;
  font-size: 24px;
  width: 234px;
}

.modal--footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.position-sticky {
  position: sticky;
}

.nav-list {
  font-family: Poppins;
  font-weight: 600;
}

.nav-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.header--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10%;
}

.header__content {
  font-family: Poppins;
  width: clamp(200px, 2vh, 815.42px);
  opacity: 0.9;
  font-weight: 600;
  color: #201848;
  position: relative;
  display: flex;
  flex-direction: column;
}

.navbarwove {
  background-color: #fff !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.nav-contianer {
  display: flex;
}

.header__content--title {
  line-height: 102px;
  font-size: clamp(52px, 6vw, 102px);
}

.header__content--btn {
  font-size: 18px;
  background-color: #9cc236;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  height: 56px;
  /* width: 197px; */
  border: #9cc236;
  border-radius: 6px;
}

.header__content--image {
  position: relative;
}



.header__content--image--rounded {
  position: absolute;
  top: -15%;
  right: -34%;
  max-width: 600px !important;
}

.blur {
  background: radial-gradient(157.14% 157.14% at -27.47% 149.08%, rgba(254, 254, 255, 0) 13.29%, rgba(200, 201, 254, 0.62) 100%);
  filter: blur(62.6154px);
  border-radius: 444px;
  transform: rotate(137.73deg);
  position: absolute;
  top: 45%;
  width: 444px;
  height: 444px;
}

.blur2 {
  background: radial-gradient(157.14% 157.14% at -27.47% 149.08%, rgba(254, 254, 255, 0) 13.29%, rgba(200, 201, 254, 0.62) 100%);
  filter: blur(62.6154px);
  border-radius: 444px;
  transform: rotate(137.73deg);
  position: absolute;
  top: 45%;
  width: 444px;
  height: 444px;
}

.header__content--image--plus {
  position: absolute;

  right: 125%;
  top: 10%;
}

.header__content--image--plus2 {
  position: absolute;
  right: 120%;
  top: 85%;
}

.header__content--image--bounce {
  position: absolute;
  right: 140%;
  top: 68%;
  animation: bounce2 2s ease infinite;
}

.modal--title {
  width: 113px;
  font-size: 20px;
  line-height: 80%;
  font-style: Bold;
  font-weight: 700;
  font-family: poppins;
  color: #1F0746;
}

.modal-text {
  width: 450px;
}

.label {
  color: #1F0746;
}

.form-control {
  background: none !important;
  opacity: 0.7;
  color: #fff !important;
}

.form-control::-webkit-input-placeholder {
  color: #fff !important;

}

.form-btn {
  border: none !important;
}

.brandBtn {
  background: #9cc236 !important;
  border: 1px solid #9cc236 !important;
  width: 100%;
  font-weight: 600;
  line-height: 27px;
  font-size: 16px;
}

@keyframes bounce2 {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.bg-white {
  /* background-color: #ffffff !important; */

  box-shadow: 2px 4px rgba(0, 0, 0, 0.1);
}


.centralbank {
  width: 199.62px;
  height: 88px;
}

.galaxy {
  width: 249px;
  height: 104px;
}

.police {
  width: 305px;
  height: 104px;
}



.banner {
  margin: 5vh auto;
}

.cardlist1 {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.cardlist2 {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.cardlist-title {
  text-align: center;
  font-family: poppins;
  color: #201848;
  width: 514px;
  height: 48px;
  opacity: 90%;
  line-height: 48px;
  font-size: 40px;
  font-weight: 700;
  margin: 0 auto;
}

.cardlist--items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card-Item {
  text-align: center;
  width: 249px;
  height: 248px;
  border-radius: 12px;
  background-color: #edeefa;
  padding: 20px;
  font-family: poppins;
}

.cardicon {
  height: 64px;
  width: 64px;
  border-radius: 24px;
  margin: 2.5vh auto;
}

.carousel-items {
  /* background: #1F0746; */
  display: flex;
  justify-content: space-between;
  max-width: none !important;
}

.about-us {
  background: linear-gradient(0deg,
      rgba(42, 45, 133, 0.7) 0%,
      rgba(42, 45, 133, 0.7) 100%),
    url(../src/assests/background.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: poppins;
  color: #fff;
}

.about-us {

  height: 404px;
}


.about-us__title {
  width: 262px;
  font-size: 40px;
  font-weight: 700;
  opacity: 90%;
  height: 48px;
  margin: 0 auto;
}

.about-us__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  margin: 2vh auto;
  width: 689px;
  text-align: center;
}



.service {
  background-color: #fff;
}

.service-card {
  margin-top: 100px;
  font-family: poppins;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;

  background-color: #edeefa;
}

.service-project {
  /* margin-top: 100px; */
  font-family: poppins;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  /* background-color: #edeefa; */
}

.cardlist-project {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.service__cardlist {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  width: 515px;
  height: 296px;
  border-radius: 12px;
  padding: 50px;
  text-align: center;
}

.service__project {
  width: 405px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 184px;
  background: none !important;
  border: 1px solid white;
  border-radius: 12px;
  /* margin: 20px; */
  gap: 20px;

}

.textlist-project {
  width: 280px;
  font-family: poppins;
  font-size: 14px;
  line-height: 21px;
}

.text {
  text-align: center;
}

.textlist {
  width: 452px;
  height: 63px;
  font-size: 14px;
  line-height: 21px;
}

.btn-service {
  font-family: poppins;
  width: 197px;
  height: 56px;
  margin: auto;
  padding: 12px;
  line-height: 27px;
  font-size: 18px;
  font-weight: 600;
  background: none !important;
  color: #39364D !important;
  box-shadow: 0px 4px 8px -1px rgba(42, 45, 133, 0.2);
  border-radius: 6px;
  border: 1px solid rgba(42, 45, 133, 0.5);
}

.btn-proj {
  font-family: poppins;
  width: 197px;
  height: 56px;
  margin: 0 auto;
  padding: 12px;
  line-height: 27px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 8px -1px rgba(42, 45, 133, 0.2);

  color: #FFFFFF;
  background: none !important;
}

.itemsca {

  height: 343px;
  font-family: poppins;
}


.itemsca--title {
  width: 422px;
  height: 48px;
  opacity: 80%;
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  color: #201848;
  text-align: center;
  margin: 0 auto;
}

.item-centers {
  display: flex;
  margin-top: 80px;
  gap: 20px;
  justify-content: center;
}



.project {
  background-image: linear-gradient(0deg,
      rgba(42, 45, 133, 0.7) 0%,
      rgba(42, 45, 133, 0.7) 100%), url(./assests//second\ background.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: poppins;
  background-size: cover;
  background-position: center center;
  color: #fff;
  font-family: poppins;
}

.text-project {
  width: 90%;
  font-size: 24px;
  line-height: 18px;
}

.text1 {
  width: 280px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

}

.text2 {
  width: 280px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;


}

.text3 {
  width: 280px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;


}

.text4 {
  width: 280px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;


}

.text5 {
  width: 280px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;


}

.text6 {
  width: 280px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-display: reg;

}

.project__title {
  color: #fff;
  text-align: center;

}

.project__btn {
  border-radius: 6px;
  height: 56px;
  width: 197px;

  offset: 0px 4px;
  color: #fff;
  font-style: normal;
  border: 1px solid #fff;
  background-color: rgba(42, 45, 133, 0.2);

}













.item-label {
  display: flex;
  justify-content: space-between;
}

.shift-pa {

  margin: 0 auto;
}

.shift {
  padding-bottom: -100%;
}

.citequote {
  width: 629px;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
}

.carl {
  width: 870px;
  height: 317px;
  border-radius: 12px;
}



.box-shawdow {
  border: 2px solid #2A2D851A;
  height: 400px;
  background-color: black;
  /* width: 100%; */
  color: white;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}


.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blockg {
  background-image: linear-gradient(0deg,
      rgba(42, 45, 133, 0.7) 0%,
      rgba(42, 45, 133, 0.7) 100%), url(../src//assests//third\ background.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
}



.testimonial {
  background: #FFFFFF;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}





.feedback-title {
  text-align: center;
  margin-top: 80px;
  color: #201848;
  font-size: 40px;
  font-style: bold;
  font-family: poppins;
  font-weight: 700;
  line-height: 57px;

}




.slider-text {
  width: 629px;
  text-align: center;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #39364D;

}



.right-quote {
  display: flex;
  justify-content: flex-end;
  margin-top: 80px;
}

.author {
  width: 107px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  font-style: normal;
  color: #39364D;


}

.author-sub {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #39364D;
}

.testi-content {
  padding: 0;
  width: 870px;
  height: 317px;
  margin: auto;
  position: relative;
  box-shadow: 0px 8px 20px rgba(42, 45, 133, 0.1);
  border-radius: 12px;
}



.carousel-control-prev-icon {
  width: 50px !important;
  height: 50px !important;

  color: #1F0746;
  border-radius: 25px;
  content: url(./assests/previous.png);
}

.carousel-indicators [data-bs-target] {
  width: 10px !important;
  height: 10px !important;
  border: 1px solid transparent !important;
  border-radius: 10px;

  background: #1F0746 !important;
}

.carousel-control-next-icon {
  width: 50px !important;
  height: 50px !important;
  color: #1F0746;
  border-radius: 25px;
  content: url(./assests/next.png);
}




.modal--footer {
  width: 100%;

}



.servicetitle {
  color: #1F0746;
}

.blocq--title {

  width: 519px;
  height: 96px;
  opacity: 90%;
  font-weight: 700;
  line-height: 48px;
  font-size: 40px;
  font-style: Bold;
  color: #fff;
}

.footer {

  background: #EDEEFA;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding: 20px;
  color: #39364D;

}


@media screen and (max-width:400px) {
  .name-form, .email-form {
    width: 300px !important;
  }

  .message-input, .form-btn {
    width: 300px;
  }
}

@media screen and (max-width: 900px) {


  .App {
    overflow: hidden;
  }

  .header--container {
    flex-direction: column;
    width: 100%;

    /* padding-right: 10%; */
  }

  .header__content {
    padding-top: 10%;



    /* font-weight: 300; */
  }

  .header__content--title {
    line-height: 50px;
    /* font-size: 10px; */
  }

  .header__content {

    padding-top: 80px;
    margin-left: 20px;
  }

  .header__content--image--plus {
    display: none;
  }

  .header__content--image--plus2 {
    display: none;
  }

  .header__content--image--rounded {
    display: none;
  }

  .header__content--image--img1 {
    width: 300px;
  }

  .header__content--image--bounce {
    left: 35%;
    top: 25%;
    z-index: -12;
  }


  .banner {
    width: 450px;
    margin: auto;
  }

  .service-card {

    flex-direction: column;


  }

  .service__cardlist {
    width: 300px;
  }

  .textlist {
    width: fit-content;
  }

  .cardlist-project {
    flex-wrap: wrap;

  }

  .cardlist {
    flex-wrap: wrap;
    flex-direction: column;
  }


  .cardlist-title {
    font-size: 32px;
    width: 300px;
  }

  .about-us__text {
    width: 400px;
    padding: 20px;

    margin: 0 auto;
  }

  .banner {
    margin: auto;
  }



  .poject {
    gap: 20px;
  }

  .caption-text {
    padding: 50px;
    width: 400px;
  }

  .bodycard {
    width: 350px;
  }





  .modal--footer {
    flex-direction: column;
    width: 100%;
  }

  .modal-text {
    width: 250px;
    margin-top: 20px;
    font-size: 14px;
  }

  .service__project {
    width: 300px;
    height: 130px;
    padding: 20px;
  }

  .textlist-project {
    width: 200px;
  }

  .carousel {
    width: 450px;
    /* padding: 0; */
  }

  .slider-text {
    /* width: 75%; */
    font-size: 16px;
    /* height: 135px; */
    text-align: center;
  }

  .row-form {
    flex-direction: column;
  }

  .name-form, .email-form {
    width: 400px !important;
  }

  .message-input, .form-btn {
    width: 400px;
  }


}



@media screen and (min-width:700px) {
  .cardlist1 {
    flex-direction: row;
  }

  .cardlist2 {
    flex-direction: row;
  }

  .service__project {
    width: 405px;
    height: 184px;
  }

  .textlist-project {
    width: 200px;
  }

  .service__cardlist {
    width: 400px;

  }

  .textlist {
    width: 300px;
  }

}